@page "/"

<div class="mt-4">
    <a href="enginebuilder" class="btn btn-primary btn-lg me-2">Engine Builder</a>
    <a href="part-categories" class="btn btn-secondary btn-lg">Browse Part Categories</a>
</div>
